html {
    scroll-behavior: smooth;
    font-family: 'Helvetica', serif; 

}

    .box{
        background-image: url('Production.gif');
        background-size: cover;
        height: 100vh;
        padding:0;
        margin:0;
        background-position: center center;
        background-attachment: fixed;
       }

body::-webkit-scrollbar{
    display: none;
  } 
section {
     padding: 2rem;
}  

.box {
position:absolute;   
text-align: center;
width: 100%
}
#nextandprev{
     animation-name: pulse;
     animation-duration: 5.5s;
     animation-iteration-count: infinite;
     animation-timing-function: ease-out;    
}
@keyframes pulse {
     0%{scale: 0.2;}
     50%{scale: 0.8;}
     100%{scale: 0.2;}         
}
#Home{
 padding-top: 18%;
}

/* Header section */
.dropdown-divider{
    background-color: black;
    color: black;
}
.dropdown-menu{
    background-color: black;
    text-align: center;
    font-size:1em;
}
.cusSticky {
position: fixed;
top: 0;
width: 100%;
z-index: 999;
}       
.bg-dark{
background-image: linear-gradient(19deg, black 0%, black 100%);   
text-align: center;
font-size:1em;
}
#logo{
padding-left: 1rem;
}

/* About section */
#about{
    padding: 10%;
}
.about-wrapper{
      height:fit-content;
}
.about-left{
      display: flex;
      flex-direction: column;
      padding: 0.1rem 0.1rem 0.1rem 0.1rem;
}
.about-img img{
      width: 274px;
}
.about-img{
      height: 200px;
      overflow: hidden;
      border-radius: 90%;
}

#myname{
      font-size: 1rem;
      margin: rem 0 2.5rem 0;
      line-height: 1.2;
      padding-bottom: 0.1rem;
      color: white;
}
#aboutme{
font-size: 1rem;
color: white;
}

/* Education section */
#Education{
    padding-top: 20%;
}
:root {
    --primary: #ffffff;
    --primary-gradient: linear-gradient(45deg, #153c7e00 0%, #00000000 100%);
}
.section-header {
    color: var(--primary);
    text-align: center;
}
.SectionHeaders {
    font-size: 1.8rem;
    font-weight: 800;
    margin-bottom: 76px;
    color: white;
}
.steps {
    position: relative;
    margin-top: 32px;

}

.steps .content p {
    color: var(--primary);
    font-size: 0.8rem;
}
.contentHead {
    color: var(--primary);
    font-size: 1.4rem;
}
.steps-container {
    position: relative;
    width: calc(50% + 32px);
}
.steps-container .content {
    padding: 32px;
    border-radius: 20px 20px 20px 20px;
}
.steps .steps-container:nth-child(even) {
    left: calc(50% - 32px);
    flex-direction: row-reverse;
}
.steps-container {
    display: flex;
}
.steps .steps-container .university {
    font-weight: 1000;
    font-size: 0.6rem;
    color:var(--primary-gradienty);
    margin-bottom: 10px;
    width: 62px;
    height: 62px;
    background-color: var(--primary);
    border-radius: 50%;
    flex-shrink: 0;
    align-items: center;
    display: flex;
    z-index: 777;
    scale: 2;
}
.step-line {
    width: 50px;
    height: 4px;
    margin-top: 31px;
    flex-shrink: 0;
}
@media (max-width: 767px) {

    .steps-container {
      left: 0;
      flex-direction: row-reverse;
      width: auto;
      margin-bottom: 16px;
  }
    .steps .steps-container:nth-child(even) {
      left: 0;
  }
}
@media (max-width: 415px) {

    .steps-container {
      width: 110%;
  }
}

/* Projects section */
#Projects{
    text-align: center;
    padding-top: 40%;
}
#projectsection{

    height: 600px;
}
#title{
  color: white;
  font-size: 1rem;
}
#description{
  color: white;
  font-size: 0.9rem;
}
#codelink{
    color: white;
    font-size: 1rem;
}
#codelink:hover{
    background-color: rgb(3, 0, 0);
    color: rgb(255, 255, 255);
}
.embed-responsive{
    height: 80%;
}
@media(max-width: 1351px){
    #projectsection{
        height: 600px;
    }
    #title{
        font-size: 1rem;
    }
    #description{
        font-size: 0.9rem;
    }
    #codelink{
        font-size: 0.7rem;
    }
    .embed-responsive{
        height: 75%;
    } 
}
@media(max-width: 1165px){
    #projectsection{
        height: 500px;
    }
    #title{
        font-size: 0.9rem;
    }
    #description{
        font-size: 0.8rem;
    }
    #codelink{
        font-size: 0.6rem;
    }
    .embed-responsive{
        height: 65%;
    } 
}
@media (max-width: 900px) {
    #projectsection{
        height: 400px;
    }
    #title{
        font-size: 0.7rem;
    }
    #description{
        font-size: 0.7rem;
    }
    #codelink{
        font-size: 0.5rem;
    }
    .embed-responsive{
        height: 60%;
    }
}
@media (max-width: 720px) {
    #projectsection{
        height: 350px;
    }
    #title{
        font-size: 0.6rem;
    }
    #description{
        font-size: 0.6rem;
    }
    #codelink{
        font-size: 0.4rem;
    }
    .embed-responsive{
        height: 55%;
    }
}
@media (max-width: 550px) {
    #projectsection{
        height: 325px;
    }
    #title{
        font-size: 0.58rem;
    }
    #description{
        font-size: 0.57rem;
    }
    #codelink{
        font-size: 0.39rem;
    }
    .embed-responsive{
        height: 42%;
    }
}
@media (max-width: 480px) {
    #projectsection{
        height: 315px;
    }
    #title{
        font-size: 0.53rem;
    }
    #description{
        font-size: 0.54rem;
    }
    #codelink{
        font-size: 0.36rem;
    }
    .embed-responsive{
        height: 40%;
    }
}
@media (max-width: 400px) {
    #projectsection{
        height: 300px;
    }
    #title{
        font-size: 0.50rem;
    }
    #description{
        font-size: 0.50rem;
    }
    #codelink{
        font-size: 0.30rem;
    }
    .embed-responsive{
        height: 38%;
    }
}
/* Skills section */
#Skills{
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    padding-top: 30%;
}
.skill-box{
       width: 100%;
       text-align: start;
}
.skill-box .skill-bar{
       height: 12px;
       width: 100%;
       border-radius: 20px;
    background:rgba(37, 34, 23, 0.26);
}
.skill-bar .skill-per{
       position: relative;
       display: block;
       height: 100%;
       width: 100%;
       border-radius: 6px;
       opacity: 0;
    text-align: end;
}
#skills .skill-per{
       animation: all 1.4s ease-in-out forwards;
       opacity: 0;   
} 
@keyframes all {
       0%{
           width: 0;
           opacity: 1;
     }
       100%{
           opacity: 1;
     }
}

/* Programs section */
#programs{
    color: white;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    padding-top: 30%;
}
.programs-box{
      width: 100%;
      text-align: start;
}
.programs-box .programs-bar{
      height: 12px;
      width: 100%;
      border-radius: 20px;
      background:rgba(37, 34, 23, 0.26);
}
.programs-bar .programs-per{
      position: relative;
      display: block;
      height: 100%;
      width: 100%;
      border-radius: 6px;
      opacity: 0;
      text-align: end;
}
#programs .programs-per{
      animation: all 1.4s ease-in-out forwards;
      opacity: 0;   
} 

/* methods section */
#Methods{
    padding-top: 30%;
}
h1{
    color: white;
    margin-bottom: 10%;
}
.ulclass{
    position:absolute;
    margin:0;
    padding:0;
}
.liclass{
    text-align:center;
    display:inline-block;
    list-style:none;
    position:relative;
    border:solid 12px #fff;
    background:#fff;
    box-shadow:0 0 15px 0px #555;
    transition:all 1s ease;
    -o-transition:all 1s ease;
    -moz-transition:all 1s ease;
    -webkit-transition:all 1s ease;
    top:50px;
}
.liclass:hover{
    top:0px;
}
.liclass:nth-child(1){
      transform:rotate(10deg);
}
.liclass:nth-child(2){
      transform:rotate(0deg);
}
.liclass:nth-child(3){
      transform:rotate(-10deg);
}
.liclass:nth-child(4){
      transform:rotate(20deg);
}
.liclass:nth-child(5){
    transform:rotate(10deg);
}
.liclass:nth-child(6){
    transform:rotate(-10deg);
}
.liclass:nth-child(7){
    transform:rotate(-3deg);
}
.liclass:nth-child(8){
    transform:rotate(15deg);
}
.liclass:nth-child(9){
    transform:rotate(0deg);
}
.liclass:nth-child(10){
    transform:rotate(-20deg);
}
.liclass:nth-child(11){
    transform:rotate(6deg);
}
.pclass{
    margin:0px 0 0 0;
}
@media (max-width: 1200px) {
    #Methods{
        padding-bottom: 15rem;
    }
}
@media (max-width: 941px) {
    #Methods{
        padding-bottom: 28rem;
    }
}
@media (max-width: 800px) {
    #Methods{
        padding-bottom: 38rem;
    }
}
@media (max-width: 721px) {
    #Methods{
        padding-bottom: 48rem;
    }
}
@media (max-width: 714px) {
    #Methods{
        padding-bottom: 58rem;
    }
}
@media (max-width: 514px) {
    #Methods{
        padding-bottom: 68rem;
    }
}
@media (max-width: 485px) {
    #Methods{
        padding-bottom: 118rem;
    }
}
/* contact section */
#contact{
    padding-top: 60%;
    text-align: center;
    padding-bottom: 5%;
}
.fa{
    padding: 3%;
}